@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Oleo+Script&display=swap');


body {
    /* background-color: rgb(240, 239, 239); */
    background-color: rgb(229, 225, 234);
}

header {
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
}

header img {
    height: 400px;
    width: 100%;
    object-position: cover;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}


h1 {
    align-items: center;
    font-family: 'Lora', serif, sans-serif;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-family: 'Lora', serif, sans-serif;
    font-style: italic;
    font-weight: 400; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    padding-bottom: 40px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 50px;
}

nav a {
    display: flex;
    justify-content: space-around;
    padding: 0px 50px;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: 'Lora', serif, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.footer {
    font-weight: 500;
    left: 0;
    bottom: 0;
    display: flexbox;
    /* position: absolute; */
    text-align: center;
    justify-content: flex-end;
    padding: 18px;
    font-size: 20px;
}

.footer a {
    font-weight: 400;
    font-size: 16px;
}

button, #button {
    background-color: #8246AF;
    padding: 10px 36px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    transition: all 0.6s ease;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

button:hover, #button:hover {
    outline: 1px solid var(--black);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 50%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}