#welcome_message {
    display: flex;
    justify-content: center;
}

#heading-2 {
    color: #57287B;
    font-size: 3rem;
    padding-left: 157px;
    padding-bottom: 5px;
    margin: 0;
}

.story-card {
    margin: 5px;
    padding: 15px;
    background-color: rgba(87, 40, 123, 0.3);
    border-radius: 10px;
    transition: all 0.6s ease;
}

.story-card:hover {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.story-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#latest-stories {
    padding: 0px 150px 75px 150px;
    display: grid;
    grid-template-columns: 2fr 0.75fr 0.75fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: 
    "left-1 right-1"
    "left-1 bottom-left-2"
    "left-1 bottom-right-2";
    max-height: 525px;
}

#story-card-1 {
    grid-area: left-1;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
}

#story-card-2 {
    grid-area: right-1;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
}

#story-card-3 {
    grid-area: bottom-left-2;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 2;
    grid-column-end: 3;
}

#story-card-4 {
    grid-area: bottom-right-2;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: -1;
    grid-column-end: 3;
}

#story-card-2 a {
    display: flex;
    max-height: 120px;
    width: 100%;
    height: 100%;
}

#story-card-3 a,
#story-card-4 a {
    display: flex;
    max-height: 220px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
    font-size: 16px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
    font-size: 12px;
}

#story-card-2 img,
#story-card-3 img,
#story-card-4 img {
    height: 100%;
    margin-right: 5px;
}

#story-card-2 img {
    width: 50%;
}

#story-card-3 img,
#story-card-4 img {
    width: 99%;
    height: 100%;
    margin-right: 5px;
    padding-bottom: 10px;
}

#all-stories {
    padding: 0px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#all-stories .story-card {
    flex-basis: 32%;
    flex-grow: 1;
}

#story-content {
    text-align: justify;
}

#story-content img {
    float: right;
    margin: 0 0 10px 10px;
    width: 50%;
}

.story-card-text {
    padding: 10px;
}