{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'user-styles.css'%}">
{% endblock %}

{% block content %}
    <div class="create-story">
        <h2>Write A New Story</h2>
        <div id="create-story">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input id="button" type="submit" value="submit">
            </form>
        </div>
    </div>
{% endblock %}
