{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}

{% block content %}
    <section id="top-section">
        <div class="searchbar-wrapper">
            <form method="GET" action="{% url 'news:search_results' %}">
                <div id="searchbar">
                    <input id="searchbar-input" type="text" name="q" placeholder="Search articles...">
                    <input id="button" type="submit" value="Search">
                </div>
            </form>
        </div>
        
        <div id="welcome_message">
            {% if request.user.is_authenticated %}
                <h2>Welcome Back {{ user.first_name }}!</h2>
            {% endif %}
        </div>
    </section>
    <br>
    <h2 id="heading-2">Latest News</h2>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
            {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <br>
    <h2 id="heading-2">All Stories</h2>
    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
            {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>
{% endblock %}
