<!-- news/templates/news/story.html -->
{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}

{% block content %}
<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        <img src="{{ story.image }}">
        {{ story.content|linebreaks }}
    </div>
</div>

<!-- COMMENTS  -->

<h2>Leave your comment!</h2>
<div id="comments_section">

{% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ comment_form }}
            <button type="submit">Add comment</button>
        </div>
    </form>
{% else %}
    <a href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a>
    <br>
{% endif %}

{% if comments %}
    <strong >{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong>
    <hr>
    <ul>
    {% for comment in comments %}
        <li>           
            <div>
                <span>
                    <strong>{{ comment.author }} </strong>
                    <small>{{ comment.date_posted }}</small>
                </span>
                <p>
                    {{ comment.content|safe }}
                </p>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <strong>No comments yet...</strong>
{% endif %}

</div>

{% endblock %}
